---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$title-sans: "Montserrat", Helvetica, Arial, sans-serif;
$chaparral: "chaparral-pro", sans-serif;
$base-font-family: "chaparral-pro", sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$fade:             #E8EEF0;
$nebula:           #C9D7DC;
$airforce:         #5F91A2;
$mirage:           #0C2029;
$gunmetal:         #030D12;
$pelo:             #4CA2C0;

$spacing-unit:     30px;

$text-color:       $fade;
// $background-color: $gunmetal;
$background-color: darken(#163D50, 13%);
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$red:							#B63D38;
$darkred:					#8F2823;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin overlay($r, $g, $b, $alpha) {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba($r, $g, $b, $alpha);
}

@mixin buffer-bottom($units) {
  margin-bottom: $units;
}

.centered-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {
  display: inline-block;
  margin: 0 auto;
  width: 125px;
  height: 125px;
  fill: $airforce;
  color: #fff;
}

.icon-identity {
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "grids",
        "cases",
        "app"
;
