---
layout: page
permalink: /blog
title: "The Blog"
title-tag: "blog"
---

<div class="container">
    <div class="row posts">
        <div class="col-md-9 col-centered">
            {% for post in site.posts %}
                <article class="blog-post {% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
                    <div class="article-head">
                        <h2 class="title"><a href="http://localhost:4000/{{ post.url }}" class="js-pjax">{{ post.post-title }}</a></h2>
                        <p class="date">{{ post.date | date: "%b %d, %Y" }} {% if post.author %}&nbsp;•&nbsp; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
                    </div>

                    <div class="article-content">
                        <p>{{ post.post-description }}</p>
                        <a href="{{ post.url }}" class="full-post-link js-pjax">Read More</a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div>

