---
layout: landing
---

{% include about.html %}
{% assign featuredCases = site.cases | where: "category", "featured" | sort: 'order' %}

<div class="case-studies">
  
  <div class="wrapper">
    <div class="projects tag">
      <span class="title">Recent Projects</span>
      <!-- <span class="count">1/5</span> -->
    </div>
  </div>

  <div class="featured-cases">
    {% for case in featuredCases %}
      {% include case-preview.html %}
    {% endfor %}
  </div>

  {% include process.html %}
  {% include details.html %}
  {% include requestquote.html %}
  {% include svgs.html %}
</div>