<div class="about">
	<div class="wrapper">
		<div class="section-title">
			<h3 class="title">About</h3>
		</div>
		<div class="section-content">
			<h4 class="title">About Me</h4>
			<p>Hey there! I’m a <strong>front-end designer and developer</strong> that loves helping small businesses and entrepreneurs bring their ideas to life. My background in advertising helps me get into the mind of your users, and my 7 years of experience help me deliver awesome products that both you and your audience will love.</p>

			<p>I currently live in Denver, CO with my husband and our two hilarious cats. When I'm not buried in code or 20 Chrome tabs, I'm usually cooking, playing video games, or practicing yoga.</p>

			<!-- <h4 class="title" style="margin-top: 50px;">Services</h4>
			<div class="services">
				<div class="service">
					<div class="box">Design</div>
				</div>
				<div class="service">
					<div class="box">Development</div>
				</div>
				<div class="service">
					<div class="box">Identity</div>
				</div>
			</div> -->
		</div>
	</div>
</div>