<div class="about">
	<div class="wrapper">
	  <div class="section-full centered-text">
	  	<h2 class="subhead">The Rookery is a husband and wife team from Colorado focused on bringing good ideas to life on the web.</h2>
	  </div>
	</div>
	<div class="wrapper">
		<div class="services">
			<div class="service">
				<svg class="icon icon-design"><use xlink:href="#icon-design"></use></svg>
				<span class="title">Web Design</span>
				<span class="about">From concept to execution, our designs are informed by research</span>
			</div>
			<div class="service">
				<svg class="icon icon-development"><use xlink:href="#icon-development"></use></svg>
				<span class="title">Web Development</span>
				<span class="about">We're front-end specialists who advocate for user experience</span>
			</div>
			<div class="service">
				<svg class="icon icon-identity"><use xlink:href="#icon-identity"></use></svg>
				<span class="title">Logo / Identity</span>
				<span class="about">We design the interface between product and customer</span>
			</div>
			<div class="service">
				<svg class="icon icon-art-direction"><use xlink:href="#icon-art-direction"></use></svg>
				<span class="title">Consulting</span>
				<span class="about">We pass on lessons that we've learned along the way</span>
			</div>
		</div>
	</div>
</div>