<div class="case-study">
  <div class="case -{{ case.css }}"></div> <!-- background shim -->
 
  <div class="screen">
	<div class="wrapper">
		
		<!-- about the case -->
		<div class="case-info">
			<h3 class="headline">{{ case.headline }}</h3>
  		<span class="title">{{ case.title }}</span>
  		<span class="divider">|</span>
  		<span class="properties">{{ case.services }}</span>
		</div>

		<!-- read more link -->
		<div class="read-more">
			<a href="{{ case.permalink }}" class="light button">Read More</a>
		</div>

	</div>
  </div>
</div>