<!-- <div class="hire">
	<div class="wrapper">
		
		<div class="section-content">
			<h4 class="title">Contact Me</h4>
			<p>I’d love to talk with you about your project and goals. Please note that I require a 40% deposit up front before I schedule work. To get in touch, <a class="typeform-share link" href="https://amanda359.typeform.com/to/InnfCj" data-mode="2" target="_blank">send me a message</a> or use my email below.

			<p>Amanda Saffer<br />
			Front-End Design and Development<br />
			<strong><a href="mailto:amandasaffer@gmail.com">amandasaffer@gmail.com</a></strong></p>

			<div class="social-contact">
				<a href="http://twitter.com/ajsaffer"><i class="icon ion-social-twitter"></i></a>
				<a href="http://dribbble.com/amandasaffer"><i class="icon ion-social-dribbble-outline"></i></a>
				<a href="https://www.linkedin.com/in/asaffer"><i class="icon ion-social-linkedin-outline"></i></a>
			</div>
		</div>
	</div>
</div> -->