<div class="details">
	<div class="wrapper">
	  <div class="section-full centered-text">
	  	<h2 class="subhead">We are a dedicated and experienced team committed to providing the highest quality of work.</h2>
	  </div>
	</div>

	<div class="wrapper">
		<div class="personal personal-details border">
			<div class="person">
				<h4 class="name">Amanda Saffer</h4>
				<span class="title">Designer &amp; Developer</span>
				<div class="social">
					<a href="#"><i class="ion ion-social-twitter"></i></a>
					<a href="#"><i class="ion ion-social-github"></i></a>
					<a href="#"><i class="ion ion-social-dribbble"></i></a>
				</div>
				<p class="about">My advertising background allows me to empathize with users, and my 7 years experience in design helps me deliver awesome products. When I'm not buried in code or design, I'm usually cooking, playing video games, or practicing yoga.</p>
			</div>
		</div>
		<div class="personal personal-details">
			<div class="person">
				<h4 class="name">Dustin Cooper</h4>
				<span class="title">Writer &amp; Developer</span>
				<div class="social">
					<a href="#"><i class="ion ion-social-twitter"></i></a>
					<a href="#"><i class="ion ion-social-github"></i></a>
					<a href="#"><i class="ion ion-social-codepen"></i></a>
				</div>
				<p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat draco dormiens nunquam.</p>
			</div>
		</div>
	</div>

	<div class="wrapper testimonials">
		<div class="testimonial-box">
			<div class="slide">
				<span class="title">What Our Clients Say</span>
				<h5 class="quote">The Rookery is top notch. They use the best tools, are extremely good communicators and, most importantly, constantly deliver beautiful, functional, thoughtful work.</h5>
				<span class="title">Hank Green, Vlogbrothers</span>
			</div>
			<div class="slide">
				<span class="title">What Our Clients Say</span>
				<h5 class="quote">The Rookery did an amazing job. I gave them complete control of my branding in regards to color, font selection, styles, etc. I constantly get compliments.</h5>
				<span class="title">Josh Owens, Spacedojo</span>
			</div>
			<div class="slide">
				<span class="title">What Our Clients Say</span>
				<h5 class="quote">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</h5>
				<span class="title">Josh Owens, Spacedojo</span>
			</div>
		</div>
	</div>

	<div class="tag-wrapper wrapper">
		<div class="quotes tag">
      <span class="title">Testimonials</span>
      <!-- <span class="count">1/7</span> -->
    </div>
	</div>

</div>