<div class="details">
	<div class="wrapper">
	  <div class="section-full centered-text">
	  	<h2 class="subhead">We are a dedicated and experienced team committed to providing quality work.</h2>
	  </div>
	</div>

	<div class="wrapper">
		<div class="personal personal-details border">
			<div class="person">
				<h4 class="name">Amanda Saffer</h4>
				<span class="title">Designer &amp; Developer</span>
				<div class="social">
					<a href="http://twitter.com/ajsaffer"><i class="ion ion-social-twitter"></i></a>
					<a href="http://github.com/amandasaffer"><i class="ion ion-social-github"></i></a>
					<a href="http://dribbble.com/amandasaffer"><i class="ion ion-social-dribbble"></i></a>
				</div>
				<p class="about">My advertising background allows me to empathize with users, and my 7 years of experience in design allow me to deliver awesome products. When I'm not buried in code, I'm usually cooking, playing video games, or practicing yoga.</p>
			</div>
		</div>
		<div class="personal personal-details">
			<div class="person">
				<h4 class="name">Dustin Cooper</h4>
				<span class="title">Writer &amp; Developer</span>
				<div class="social">
					<a href="http://twitter.com/dgalcoop"><i class="ion ion-social-twitter"></i></a>
					<a href="http://github.com/dgalcoop"><i class="ion ion-social-github"></i></a>
				</div>
				<p class="about">My experience writing and editing for various companies and working with user testing/client-facing services augment my front-end web development knowledge when building web apps. I love baking and playing tabletop games with friends.</p>
			</div>
		</div>
	</div>

	<div class="wrapper testimonials">
		<div class="testimonial-box">
			<div class="slide">
				<span class="title">What Our Clients Say</span>
				<h5 class="quote">The Rookery is top notch. They use the best tools, are extremely good communicators and, most importantly, constantly deliver beautiful, functional, thoughtful work.</h5>
				<span class="title">Hank Green, Vlogbrothers</span>
			</div>
			<div class="slide">
				<span class="title">What Our Clients Say</span>
				<h5 class="quote">The Rookery did an amazing job. I gave them complete control of my branding in regards to color, font selection, styles, etc. I constantly get compliments.</h5>
				<span class="title">Josh Owens, Spacedojo</span>
			</div>
			<div class="slide">
				<span class="title">What Our Clients Say</span>
				<h5 class="quote">I approached the Rookery with a very broad idea of a new company website. Amanda was quick, dedicated, and a pleasure to work with!</h5>
				<span class="title">Sonya Rahrovi, Woof Gang Bakery</span>
			</div>
		</div>
	</div>

	<div class="tag-wrapper wrapper">
		<div class="quotes tag">
      <span class="title">Testimonials</span>
      <!-- <span class="count">1/7</span> -->
    </div>
	</div>

</div>