<div id="site-menu">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="text">Menu</span>
</div>

<div id="expanded-menu">
  <ul class="nav">
    <a class="page-link" href="/"><li>Home</li></a>
  	<a class="page-link" href="/testimonials"><li>Testimonials</li></a>
    <a class="page-link" href="http://dribbble.com/amandasaffer" target="_blank"><li>Works In Progress</li></a>
  	<a class="page-link" href="#"><li>Blog &nbsp;<strong>Coming Soon</strong></li></a>
  	<a class="page-link" href="https://amanda359.typeform.com/to/InnfCj"><li>Work With Me</li></a>
  </ul>
</div>