<nav id="header" class="dark">
    <div class="wrapper">
        <div class="content">
            <a href="/"><img class="logo" src="/img/rookery2.png"></a>

            <ul class="nav">
                <li><a class="page-link" href="/">Home</a></li>
                <li><a class="page-link" href="/about">About Us</a></li>
                <li><a class="page-link" href="/blog">Blog</a></li>
                <li><a class="page-link" href="https://creativemarket.com/ajsaffer">Our Shop</a></li>
                <li><a class="page-link" href="#contact">Work With Us</a></li>
            </ul>

            <div id="site-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</nav>