<div id="site-menu">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div id="expanded-menu">
  <ul class="nav">
    <a class="page-link" href="{{ site.baseurl }}"><li>Home</li></a>
    <a class="page-link" href="http://dribbble.com/amandasaffer" target="_blank"><li>Works In Progress</li></a>
  	<a class="page-link" href="#"><li>Blog &nbsp;<strong style="opacity: .5;">Coming Soon</strong></li></a>
  	<a class="page-link" href="https://amanda359.typeform.com/to/InnfCj"><li>Work With Us</li></a>
  </ul>
</div>