<nav id="header">
    <div class="wrapper">
        <div class="content">
            <a href="/"><img class="logo" src="/img/rookery-logo-01.png"></a>
            <ul class="nav">
                <li><a class="page-link" href="/">Home</a></li>
                <li><a class="page-link" href="/about">About Us</a></li>
                <li><a class="page-link" href="/blog">Blog</a></li>
                <li><a class="page-link" href="/blog">Our Shop</a></li>
                <li><a class="page-link" href="#contact">Work With Us</a></li>
            </ul>
        </div>
    </div>
</nav>