<div class="portfolio">
	<div class="wrapper">
		<div class="section-content">
			<h4 class="title">Featured Projects</h4>
			<p>My favorite thing about working as a freelancer is that I get to participate in a lot of different industries&mdash;even if it's only for a short while. This keeps me learning, reading, and connecting with people in different fields.</p> 

			<p>Take a look at some of my featured projects below.</p>
		</div>
		<div class="section-title">
			<h3 class="title">Work</h3>
		</div>
	</div>
</div>