<div class="process">
	<div class="steps">
		<div class="step">
			<span class="title"><span>01</span> Conversation</span>
			<span class="details">Discuss details of project scope, budget, and timeline.</span>
		</div>
		<div class="step">
			<span class="title"><span>02</span> Research</span>
			<span class="details">Via the likes of questionnaires, creative briefs, and/or moodboards.</span>
		</div>
		<div class="step">
			<span class="title"><span>03</span> Execution</span>
			<span class="details">We design web creations suited to your unique needs..</span>
		</div>
		<div class="step">
			<span class="title"><span>04</span> Delivery</span>
			<span class="details">We let the world see the great work we’ve done together.</span>
		</div>
	</div>
</div>