<div class="process">
	<div class="steps">
		<div class="step">
			<span class="title"><span>01</span> Conversation</span>
			<span class="details">Discuss details of project scope, budget, and timeline.</span>
		</div>
		<div class="step">
			<span class="title"><span>02</span> Research</span>
			<span class="details">Via use of questionnaires, creative briefs, and/or moodboards.</span>
		</div>
		<div class="step">
			<span class="title"><span>03</span> Execution</span>
			<span class="details">Design and development fueled by your feedback.</span>
		</div>
		<div class="step">
			<span class="title"><span>04</span> Delivery</span>
			<span class="details">We ensure that your launch is as smooth as possible.</span>
		</div>
	</div>
</div>