<div class="quote">
	<div class="wrapper">
		<div class="box-content">
			<div class="box-header">
				<h5 class="title">Request A Quote</h5>
				<p>We work with a variety of project budgets. The more information you give us up front, the faster and better we can work together.</p>
			</div>

			<!-- todo: set up focuspocus.io -->
			<form class="request-quote wrapper">
				<div class="form-group">
					<label for="name">Full Name</label>
					<input id="name" type="text" placeholder="">
				</div>
				<div class="form-group">
					<label for="email">Email Address</label>
					<input id="email" type="email" placeholder="">
				</div>
				<div class="form-group">
					<label for="organization">Organization (optional)</label>
					<input id="organization" type="text" placeholder="">
				</div>
				<div class="form-group">
					<label for="budget">Ballpark Budget</label>
					<input id="budget" type="text" placeholder="">
				</div>
				<div class="form-group">
					<label for="about">Tell us about your brand and your goals</label>
					<!-- <span class="sublabel">Lorem ipsum dolor sit amet draco dormiens</span> -->
					<textarea id="about"></textarea>
				</div>
				<div class="form-group">
					<label for="services">Please describe the project</label>
					<textarea id="services" placeholder=""></textarea>
				</div>

				<button class="light" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>