<div class="container">
	<div id="contact" class="quote">
		<div class="row box-content">
			<div class="col-md-12 col-lg-6 box-header">
				<h5 class="title">Request A Quote</h5>
				<p>Do you like what you see and are interested in working with us? Awesome! We love to help people bring their ideas to life on the web.</p>

				<p>One of the first things we'll ask after you write in is, "What's your ballpark budget?" We're not trying to trick you, we just like to know this info so we can give an accurate estimate of how much we can get done for X amount of money. We work with a variety of budgets, so don't be shy!</p>
			</div>

			<div class="col-md-12 col-lg-6 ">
				<form class="request-quote wrapper" accept-charset="UTF-8" action="http://formspree.io/amandasaffer@gmail.com" method="POST">
					<input type="hidden" name="utf8" value="✓">
					<div class="form-group">
						<label for="name">Full Name</label>
						<input id="name" type="text" name="name" title="Your full name" required />
					</div>
					<div class="form-group">
						<label for="email">Email Address</label>
						<input id="email" type="email" name="email" title="Your email address" required />
					</div>
					<div class="form-group">
						<label for="services">Please describe the project</label>
						<textarea id="services" name="services" required></textarea>
						<button type="submit">Get A Quote</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>