/**
  * Site Menu
  * The main site navigation is hidden in this hamburger menu
  */
#site-menu {
	position: absolute;
	transition: background, .2s;
	top: 20px;
	right: 20px;
	height: 55px;
	width: 55px;
	z-index: 100;

	span.bar {
		margin: 4px 15px 0 auto;
		width: 23px;
		height: 2px;
		display: block;
		background: $mirage;
		border-radius: 2rem;
		transition: all 500ms ease-in-out;
		&:first-child { margin-top: 22px; }
	}

	.text {
		position: absolute;
		top: 6px;
		left: 17px;
		font-size: 18px;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 31px;
	}

	&:hover { cursor: pointer; }

	&.active {
		transition: background, .2s;
		position: fixed;

		span.bar {
			width: 28px;
			transition: all 500ms ease-in-out; // smooth transition
		}

	    span.bar:nth-of-type(1) {
			-webkit-transform:rotate(-45deg) translateY(5px) translateX(-3px);
			transform:rotate(-45deg) translateY(5px) translateX(-3px);
	    }

	    span.bar:nth-of-type(2) {
			opacity:0;
	    }

	    span.bar:nth-of-type(3) {
	  	    -webkit-transform:rotate(45deg) translateY(-5px) translateX(-3px);
			transform:rotate(45deg) translateY(-5px) translateX(-3px);
	    }
	}

    // responsive
    display: block;
    @include at-query($min, $medium) {
        display: none;
    }
}

/**
  * Page Layouts
  * For page layouts
  */
.page-title {
    background: url('/img/bg2.jpg');
    background-size: cover;
    background-position: 0% 50%;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.85);
    background-repeat: no-repeat;
    padding: 4rem 0 1rem;
	margin: 0 auto 1rem;

    @include at-query($min, $small) {
        padding: 10rem 0 4rem;
        background-attachment: fixed;
    }

    @include at-query($min, $medium) {
        padding: 8rem 0 3rem;
    }

    @include at-query($min, $large) {
        padding: 10rem 0 4rem;
    }
}

/**
  * Landing Hero
  * Only for home page
  */
#landing {
	background-image: url('/img/mountain.jpg');
	background-size: cover;
	background-position: 0% 100%;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.8);
	height: 400px;
    margin-bottom: 3rem;
	color: #fff;
    text-align: center;

    @include at-query($min, $small) {
        text-align: left;
        box-shadow: inset 0 0 0 1000px rgba(255,255,255,.45);
        background-position: 50% 100%;
    }

	@include at-query($min, $medium) {
		height: 65vh;
        background-attachment: fixed; // desktop only
		margin-bottom: 6rem;
	}

	@include at-query($min, $large) {
		height: 72vh;
	}
}

#landing > .intro > .row {
	padding-top: 3rem;

	a.button:hover {
		text-decoration: none;
		opacity: .5;
	}

	@include at-query($min, $medium) {
		padding-top: 16vh;
	}

	@include at-query($min, $large) {
		padding-top: 16vh;
	}
}


/*
 * Content Sections
 * About Us, Services, Married
 */

div.about {
	// background: $light;
	padding: 45px 0 0;
	margin: 0 0 3rem;

    .container { border-bottom: 2px solid $light; }

    @include at-query($max, $small) {
        text-align: center;
    }
}

div.services {
  .service {
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 40px;
  }

  .service > span.title {
  	text-transform: uppercase;
  	font-family: $title-sans;
  	font-weight: 500;
  	letter-spacing: .075rem;
  	font-size: 0.85rem;
  	color: $mirage;
  	display: block;
  	margin-bottom: .2rem;
  }

  .service > span.about {
  	padding-top: 0;
  	display: block;
  	color: $mirage;
  	line-height: 1.3;
	font-family: $title-sans;
	font-weight: 300;
	font-size: 0.925rem;
	letter-spacing: 0.3px;
    opacity: 0.7;
  }

  @include at-query($min, $small) {
    .service {
        text-align: left;
        padding: 0 15px;
    }

  	.service > span.title,
  	.service > span.about {
  		margin-top: 0.2rem;
  		margin-bottom: 0.3rem;
  		font-size: 0.8rem;
  	}

    .service > span.title { font-size: 0.75rem; }
  	.service > span.about { line-height: 1.5; }
  }
}

div.we-married {
    h4.name {
        font-size: 1.3rem;
        margin: 0 0 0.5rem;
    }

    img.team-photo {
        border-radius: 2px;
    }

    @include at-query($max, $medium) {
        .-team:first-child { margin-bottom: 2rem; }
    }
}

div.social-links {
    // border-top: 2px solid $light;
    // border-bottom: 2px solid $light;
    // @include vertical-padding(40px);
    margin: 2.5rem auto 0;
}

div.other-projects {
    background: $light;
    margin-top: 5rem;
    @include vertical-padding(80px);

    // heading and images
    .heading { padding-bottom: 2rem !important; }

    img.dribbble-photo {
        @extend .transition;
        border-radius: 2px;
    }

    img.dribbble-photo:hover {
        transform: scale(1.05,1.05);
        -webkit-transform:scale(1.05,1.05);
        -moz-transform:scale(1.05,1.05);
        -ms-transform:scale(1.05,1.05);
        -o-transform:scale(1.05,1.05);
    }

    // responsive
    @include at-query($max, $medium) {
        @include vertical-padding(50px);
        margin-top: 2rem;
        img { margin-bottom: 1rem; }
    }
}

/**
  * Request a Quote
  * _includes/requestquote.html
  */
.box-content {
	background: #fff;
	padding: 40px 20px;
	margin: 0;
	border: 2px solid $light;
	@include clearfix;

	.box-header {
		padding-right: 0;
		@media handheld, screen and (min-width: 768px) {
			padding-right: 30px;
		}
	}

	.box-header h5.title {
		font-family: $title-sans;
		color: $mirage;
		font-weight: 300;
		font-size: 2rem;
		line-height: 1.5;
		margin: 0 0 10px;
		padding: 0;
	}

	.box-header p {
		padding: 0;
	}

	@media handheld, screen and (min-width: 768px) {
		margin: 5rem 0 2rem;
		padding: 85px 80px;
	}
}

form.request-quote {
	label {
		display: block;
		font-family: $title-sans;
		font-size: .8rem;
		letter-spacing: .05px;
		color: lighten($mirage, 10%);
		margin-bottom: 10px;
	}

	input, textarea {
		box-sizing: border-box;
		display: block;
		width: 100%;
		padding: 16px 15px 12px;
		margin-bottom: 1.5rem;
		background: $light;
		border: 1px solid $light;
		// text
		font-weight: 300;
		font-family: $title-sans;
		font-size: .8rem;
		letter-spacing: .05px;
		color: lighten($mirage, 10%);
		&:focus { border: 1px solid $airforce; outline: 0 none; }
	}

	textarea {
		min-height: 120px;
		resize: none;
	}

	button {
		margin: 0 auto;
		cursor: pointer;
	}

	/* these have to be separate because css parser is broken for placeholder rules lol */
	.request-quote textarea::placeholder { color: lighten($airforce, 10%); opacity: 1; }
	.request-quote textarea::-webkit-input-placeholder { color: lighten($airforce, 10%); opacity: 1; }
	.request-quote textarea::-moz-placeholder { color: lighten($airforce, 10%); opacity: 1; }
}


/**
  * Testimonials Page
  * testimonials.html
  */
.testimonial {
  margin: 0 auto 0;
  padding-top: 40px;
  transition: background .2s ease-out;

	> p.quote {
		margin: 0 40px 30px;
		font-size: 1rem;
		opacity: .75;
	}

	&:hover { background: darken($light, 2%); transition: background .2s ease-out; }
}

.speaker {
	border-bottom: 2px solid darken($light, 5%);
	box-sizing: border-box;
	padding: 15px 0 120px;
	position: relative;
	height: 85px;
	padding-left: 145px;
	@include buffer-bottom(30px);
	text-align: left;

	&:last-child {
		margin-bottom: 0;
	}

	> .thumb {
		width: 85px;
		height: 85px;
		position: absolute;
		left: 40px;
		top: 0;
		border-radius: 50px;
	}

	> span.title, span.info {
		display: block;
	}

	span.title {
		font-size: 1rem;
		font-weight: 700;
		color: $red;
	}

	span.info {
		opacity: .6;
		font-style: oblique;
		letter-spacing: .01rem;
		font-size: .95rem;
	}
}

/**
  * Footer
  *
  */

.social-contact {
	margin-top: 40px;
	.icon {
		color: $red;
		font-size: 2rem;
		margin-right: 10px;
	}

	.ion-social-dribbble-outline {
		margin-right: 13px;
	}

	.icon:hover {
		color: #333;
	}
}

.site-footer {
	border: none;
	padding: 10px 0 40px;
	text-align: center;

	.wrapper {
		padding: 0 20px;
	}

	span {
		font-family: $title-sans;
		font-weight: 300;
		color: $mirage;
		opacity: 0.5;
		letter-spacing: 0.5px;
		font-size: .85rem;
	}

	@media handheld, screen and (min-width: 768px) {
		padding: 40px 0;
		.wrapper { padding: 0 60px; }
	}

	@media handheld, screen and (min-width: 992px) {
		padding: 40px 60px;
	}
}

.site-footer ul.site-links {
	display: inline;
	list-style-type: none;
	margin: 30px 0;
	padding: 0;
	font-family: $title-sans;
	font-weight: 300;
	font-size: .85rem;
	letter-spacing: 0.5px;

	li {
		a { color: $mirage; opacity: 0.75; }
		display: inline;
		padding: 25px;
	}
}

/**
  * Misc
  *
  */
.wrapper {
    &.squish {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .section-half {
        @media handheld, screen and (min-width: 992px) {
            @include span(9);
        }

        &.clean {
            margin: 0;
            padding: 0;
        }
    }

    .section-third {
    	@media handheld, screen and (min-width: 992px) {
            @include span(6);
        }
    }

    .section-three-fourths {
        @media handheld, screen and (min-width: 992px) {
            @include span(13);
        }
    }
}

.bord {
	@media handheld, screen and (min-width: 992px) {
		border-right: 2px solid darken($light, 5%);
	}
}

.text-center {
	text-align: center;
}

.tag {
	position: absolute;
	background: $gunmetal;
	padding: 14px 22px 11px;
	z-index: 420;

	> span {
		display: inline-block;
		font-size: .875rem;
		font-family: $title-sans;
		text-transform: uppercase;
		letter-spacing: .04rem;
	}

	> span.title {
		color: #688693;
	}

	> span.count {
		color: $airforce;
		opacity: .4;
		margin-left: 10px;
	}
}