/**
  * Site Menu
  * The main site navigation is hidden in this hamburger menu
  */
#site-menu {
	position: absolute;
	transition: background, .2s;
	top: 20px;
	right: 20px;
	height: 55px;
	width: 55px;
	z-index: 100;

	span.bar {
		margin: 4px 15px 0 auto;
		width: 23px;
		height: 2px;
		display: block;
		background: white;
		border-radius: 2rem;
		transition: all 500ms ease-in-out;
		&:first-child { margin-top: 22px; }
	}

	.text {
		position: absolute;
		top: 6px;
		left: 17px;
		font-size: 18px;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 31px;
	}

	&:hover { cursor: pointer; }

	&.active {
		transition: background, .2s;
		position: fixed;

		span.bar { 
			width: 28px;
			transition: all 500ms ease-in-out; // smooth transition
		}

	  span.bar:nth-of-type(1) {	
			-webkit-transform:rotate(-45deg) translateY(5px) translateX(-3px);
			transform:rotate(-45deg) translateY(5px) translateX(-3px);
	  }

	  span.bar:nth-of-type(2) {
			opacity:0;
	  }

	  span.bar:nth-of-type(3) {
	  	-webkit-transform:rotate(45deg) translateY(-5px) translateX(-3px);
			transform:rotate(45deg) translateY(-5px) translateX(-3px);
	  }
	}
}

#expanded-menu {
 	background: darken(#163D50, 11%);
 	font-family: $base-font-family;
 	font-weight: 300;
 	letter-spacing: .03rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
  padding-left: 8%;

  display: none;
  align-items: center;

	> ul.nav {
		list-style-type: none;
		margin: 0;
		padding: .5rem 2.5rem .4rem .4rem;
	}

	> ul.nav > a { color: #fff; }

	li {
		padding: 8px 10px;
		font-size: 2rem;
	}

	@media handheld, screen and (min-width: 768px) {
  	padding-left: 8%;
  	li { font-size: 3rem; }
  }

	a:last-child li { border: none; }
}

/**
  * Landing Hero
  * Only for home page
  */
#landing {
	background-image: url('/img/woods1-small.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(11,22,27,.85);
	height: 85vh;
	color: #fff;

	h1.headline {
		font-family: $chaparral;
		font-size: 2rem;
		line-height: 1.2;
		text-shadow: 3px 3px 5px #222;
		padding: 0 50px 50px;
	}

	img.logo {
		position: absolute; 
		left: 35px; 
		top: 25px; 
		width: 50px; 
		height: auto;
	}

	@media handheld, screen and (min-width: 768px) {
		height: 70vh;
		h1.headline {
			font-size: 3rem;
			line-height: 1.1;
			padding: 0 40px 40px;
		}
	}

	@media handheld, screen and (min-width: 992px) {
		height: 100vh;
		background-attachment: fixed; // desktop only
		h1.headline {
			font-size: 3.75rem;
			line-height: 1.1;
			padding: 0 0 40px;
		}
	}

	@media handheld, screen and (min-width: 1200px) {
		h1.headline {
			font-size: 4rem;
			line-height: 1.2;
			padding: 0 0 40px;
		}
	}
}

#landing > .wrapper > .content {
	text-align: center;
	padding-top: 22vh;

	@media handheld, screen and (min-width: 992px) {
		@include span(18);
		padding-top: 33vh;
	}

	@media handheld, screen and (min-width: 1200px) {
		padding-top: 35vh;
	}

	a.sublink {
		color: white;
		font-family: $title-sans;
		text-transform: uppercase;
		display: block;
		margin-top: 1rem;
	}
}


/**
  * LANDING CONTENT SECTIONS
  * Services, process, and details
  */
div.about, div.details {
	background-color: darken(#163D50, 13%);
 	padding: 60px 0 0;

 	h2.subhead {
 		color: #E8EEF0;
 		font-family: $chaparral;
 		font-size: 1.25rem;
 		line-height: 1.3;
 		margin-bottom: 0;
 	}

 	@media handheld, screen and (min-width: 768px) {
 		h2.subhead { font-size: 1.5rem; }
 	}

 	@media handheld, screen and (min-width: 992px) {
 		padding: 120px 0 115px;
 		h2.subhead { font-size: 1.75rem; }
 	}
}

div.quote {
	background-color: darken(#163D50, 13%);
	padding-bottom: 115px;
}

.about .services {
  @include with-layout(16 static); // temporarily reset grid in here

  .service {
  	text-align: center;
    @include span(16 of 16);
    margin-bottom: 3rem;
    padding: 0 30px;
  }

   @media handheld, screen and (min-width: 768px) {
  	.service { @include span(4 of 16); }
  	margin-bottom: 0;
  	padding: 0;
  }

  .service > span.title {
  	text-transform: uppercase;
  	font-family: $title-sans;
  	font-weight: 600;
  	letter-spacing: .05rem;
  	font-size: 1.1rem;
  	color: darken(#E8EEF0, 10%);
  	display: block;
  	margin-bottom: .2rem;
  }

  .service > span.about {
  	display: block;
  	color: darken(#E8EEF0, 35%);
  	line-height: 1.3;
		font-family: $title-sans;
		font-weight: 300;
		font-size: 1.1rem;
  }

  .service > .service-icon {
  	height: 75px;
  	width: 75px;
  	margin-bottom: 1rem;
  }

  @media handheld, screen and (min-width: 768px) {
  	.service > span.title,
  	.service > span.about {
  		font-size: .925rem;
  	}

  	.service > span.about {
  		margin-bottom: .5rem;
  		line-height: 1.5;
  	}
  }
}

/**
  * Process
  * _includes/process.html
  *
  */
.process {
	background-color: $gunmetal;
  display: block;
  @include clearfix;
  padding: 0 40px 0; 
}

.process .steps {
  @include with-layout(16 static); // temporarily reset grid in here

  .step {
    @include span(16 of 16);
    margin-bottom: 2rem;
    text-align: center;
		&:first-child { margin-top: 75px; }
		&:last-child { margin-bottom: 75px; }
  }

  .step > span.title {
  	text-transform: uppercase;
  	font-family: $title-sans;
  	color: darken($fade, 10%);
  	display: block;
  	margin-bottom: .3rem;
  	font-weight: 600;
  	letter-spacing: .05rem;
  	font-size: .925rem;

  	span { opacity: .75; 
  				 color: $airforce;
  				 margin-right: 3px; }
  }

  .step > span.details {
  	display: block;
		opacity: 0.66;
		color: #BED6DE;
  	line-height: 1.5;
  	padding-right: 5px;
  	font-family: $title-sans;
		font-weight: 300;
		font-size: .925rem;
  }
}


@media handheld, screen and (min-width: 768px) {
	.process { 
		padding: 0 60px 0; 
	}
	.process .steps .step {
		@include span(8 of 16);
		margin-bottom: 2rem;
		text-align: left;
		padding-right: 15px;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }

		&:nth-child(-n+2) { margin-top: 75px; } // first two elements
		&:nth-last-of-type(-n+2) { margin-bottom: 75px; } // last two elements
	}
}

@media handheld, screen and (min-width: 992px) {
	.process { 
		padding: 0 40px 0; 
	}
	.process .steps .step {
		@include span(4 of 16);
		text-align: left;
		margin-top: 75px;
    margin-bottom: 75px;
    border-left: 3px solid $mirage;
    padding-right: 0;
    &:first-child { border: none; }
	}

	.step span.title,
	.step span.details {
		padding-left: .75rem;
	}
}

@media handheld, screen and (min-width: 1200px) {
	.process { 
		padding: 0 50px 0; 
	}
	.process .steps .step {
		@include span(4 of 16);
		margin-top: 75px;
    margin-bottom: 75px;
	}
}


/**
  * Details
  * _includes/details.html
  */
.details .personal {
	@include span(18);
	padding: 30px;

	@media handheld, screen and (min-width: 768px) {
		@include span(9);
		padding: 60px;

		&:first-child { 
			padding-left: 25px;
			padding-bottom: 60px;
		}
		&:last-child { padding-right: 25px; }
	}
}

.details .personal-details {
	position: relative;
	.person {
		margin-bottom: 3rem;
		&:last-child { margin-bottom: 3rem; }
	}

	.person h4.name, 
	.person span.title {
		text-transform: uppercase;
  	font-family: $title-sans;
  	letter-spacing: .04rem;
  	display: block;
	}
	.person h4.name {
  	font-size: 1.35em;
  	font-weight: 500;
  	color: $fade;
  	margin-bottom: 0;
	}
	.person span.title {
  	font-size: .825rem;
  	color: $airforce;
  	display: block;
  	margin-bottom: 1rem;
	}
	.person p.about {
		letter-spacing: .03rem;
		line-height: 1.6;
		font-family: $title-sans;
		font-weight: 300;
		font-size: .925rem;
	}

	div.social {
		position: absolute;
		bottom: 15px;
		left: 25px;
	}

	div.social a {
		display: inline;
		margin-left: .5rem;
		font-size: 1.75rem;
		color: $airforce;
		transition: opacity 200ms ease-out;
	}

	div.social a:hover {
		opacity: .6;
		transition: opacity 200ms ease-out;
	}

	@media handheld, screen and (min-width: 768px) {
		div.social {
			top: 24%;
			right: 8%;
			left: auto;
		}

		.person {
			margin-bottom: 3.5rem;
			&:last-child { margin-bottom: 0; }
		}
	}
}

.details .personal-details.border {
	@media handheld, screen and (min-width: 768px) {
		text-align: right;
		border-right: 3px solid lighten($mirage, 3%);
		border-bottom: 3px solid lighten($mirage, 3%);

		div.social {
			left: 10%;
			right: auto;
		}

		&:after {
			position: absolute;
			background: darken(#163D50, 13%);
			content: "&";
			font-size: 3.75rem;
			right: -24px;
			top: 33%;
			padding-top: 5px;
			color: rgba($airforce, .3);
		}
	}
}



.details .testimonials {
	margin-top: 2.5rem;
	padding-bottom: 0;
	@media handheld, screen and (min-width: 768px) {
		margin-top: 0;
		border-left: 3px solid lighten($mirage, 3%); 
		border-bottom: 3px solid lighten($mirage, 3%);
		position: relative;
		top: -2px;
	}
}

.details .testimonial-box {
	background-image: url('/img/head.jpg');
	box-sizing: border-box;
	box-shadow: inset 0 0 0 1000px rgba(11,25,31,.81);
	background-size: cover;
	padding: 80px 20px 25px;
	margin: 0;
	text-align: center;

	span.title {
		display: block;
		font-family: $title-sans;
		text-transform: uppercase;
		letter-spacing: .05rem;
		font-size: .9375rem;
		color: #688693;
		line-height: 28px;
		margin-bottom: 1.15rem;
	}

	h5.quote {
		color: $fade;
		font-size: 1.1rem;
		line-height: 1.3;
	}

	@media handheld, screen and (min-width: 768px) {
		padding: 80px 80px 30px;
		margin: 0 25px;
		position: relative;
		top: 25px;

		h5.quote {
			font-size: 2.125rem;
		}
	}

	@media handheld, screen and (min-width: 992px) {
		padding: 80px 110px 60px;
	}
}

// custom dot hack for slick slider
.details .testimonial-box ul.slick-dots {
	opacity: 0; // hide for tablet and below
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;

	@media handheld, screen and (min-width: 992px) {
		opacity: 1;
	}

	li { display: inline; 
			 position: relative; }

	button { 
		visibility: hidden;
		margin: 0;
		padding: 0 8px 0 0;
	}

	button:after { 
		content:''; 
	  visibility: visible;
	  display: block;
	  background-color: $airforce;
	  opacity: .5;
	  padding: 4px;
	  margin: 0;
	  position: absolute;
	  top: 0;
	  border-radius: 50%;
	}

	li[aria-controls='navigation10'] {
		right: 1px;
		button:after { left: 0; }
	}

	li[aria-hidden='false'] {
		button:after { opacity: 1; }
	}

	li[aria-hidden='true'] {
		button:after { opacity: .5; }
	}
}

.tag-wrapper, {
	position: relative;
	display: none;

	.tag {
		right: 42.5%;
		left: 42.5%;
		bottom: -45px;
	}

	.quotes {
		text-align: center;
	}

	@media handheld, screen and (min-width: 992px) {
		display: block;
	}
}

/**
  * Request a Quote
  * _includes/requestquote.html
  */
.box-content {
	background: $gunmetal;
	padding: 40px 20px;
	margin: 0;

	.box-header h5.title {
		font-family: $chaparral;
		font-size: 3rem;
		color: $fade;
		letter-spacing: .02rem;
		margin: 0;
		padding: 0;
	}

	.box-header p {
		padding: 0;
		letter-spacing: .03rem;
		line-height: 1.6;
		font-family: $title-sans;
		font-weight: 300;
		font-size: .925rem;
		@media handheld, screen and (min-width: 768px) {
			padding-right: 40%;
		}
	}

	@media handheld, screen and (min-width: 768px) {
		margin: 60px 25px 0;
		padding: 60px;
	}

	@media handheld, screen and (min-width: 992px) {
		margin: 0 25px;
	}
}

form.request-quote {
	@include clearfix;
	margin-top: 3rem;
	
	.form-group {
		@include span(18);
		margin-left: 0;
		padding-left: 0;
	}

	@media handheld, screen and (min-width: 768px) {
		.form-group { @include span(18); }
	}

	@media handheld, screen and (min-width: 992px) {
		.form-group {
			@include span(9);
			margin-left: 0;
			padding-left: 0;
		}
	}

	label {
		display: block;
		font-family: $title-sans;
		font-size: .875rem;
		text-transform: uppercase;
		margin-bottom: .15rem;
		color: lighten($airforce, 15%);
		letter-spacing: .03rem;
	}

	input, textarea { 
		box-sizing: border-box;
		display: block;
		width: 100%;
		padding: 16px 18px 12px;
		font-size: .925rem;
		font-family: $title-sans;
		line-height: 1.3;
		font-weight: 300;
		margin-bottom: 1.5rem;
		background: transparent;
		border: 1px solid #2C4852;
		color: $fade;
		letter-spacing: .025rem;
	}

	textarea { 
		min-height: 120px; 
		resize: none;
	}

	button {
		border-color: lighten($airforce, 20%);
		color: lighten($airforce, 20%);
		cursor: pointer;
	}

	/* these have to be separate because css parser is broken for placeholder rules lol */
	.request-quote textarea::placeholder { color: lighten($airforce, 10%); opacity: 1; }
	.request-quote textarea::-webkit-input-placeholder { color: lighten($airforce, 10%); opacity: 1; }
	.request-quote textarea::-moz-placeholder { color: lighten($airforce, 10%); opacity: 1; }
}


/**
  * Testimonials Page
  * testimonials.html
  */
.testimonial {
  margin: 0 auto 0;
  padding-top: 40px;
  transition: background .2s ease-out;

	> p.quote {
		margin: 0 40px 30px;
		font-size: 1rem;
		opacity: .75;
	}

	&:hover { background: darken(#f8f8f8, 2%); transition: background .2s ease-out; }
}

.speaker {
	border-bottom: 2px solid darken(#f8f8f8, 5%);
	box-sizing: border-box;
	padding: 15px 0 120px;
	position: relative;
	height: 85px;
	padding-left: 145px;
	@include buffer-bottom(30px);
	text-align: left;

	&:last-child {
		margin-bottom: 0;
	}

	> .thumb {
		width: 85px;
		height: 85px;
		position: absolute;
		left: 40px;
		top: 0;
		border-radius: 50px;
	}

	> span.title, span.info {
		display: block;
	}

	span.title {
		font-size: 1rem;
		font-weight: 700;
		color: $red;
	}

	span.info {
		opacity: .6;
		font-style: oblique;
		letter-spacing: .01rem;
		font-size: .95rem;
	}
}

/**
  * Footer
  * 
  */

.social-contact {
	margin-top: 40px;
	.icon {
		color: $red;
		font-size: 2rem;
		margin-right: 10px;
	}

	.ion-social-dribbble-outline {
		margin-right: 13px;
	}

	.icon:hover {
		color: #333;
	}
}

.site-footer {
	background: $gunmetal;
	border: none;
	padding: 40px 0;
	text-align: center;

	.wrapper {
		padding: 0 20px;
	}

	span {
		font-family: $title-sans;
		font-weight: 300;
		opacity: .5;
		color: $airforce;
		font-size: .85rem;
	}

	@media handheld, screen and (min-width: 768px) {
		padding: 40px 0;
		.wrapper { padding: 0 60px; }
	}

	@media handheld, screen and (min-width: 992px) {
		padding: 40px 60px;
	}
}

.site-footer ul.site-links {
	list-style-type: none;
	margin: 30px 0 50px;
	padding: 0;
	font-family: $title-sans;
	font-weight: 300;
	font-size: .925rem;

	li {
		display: inline;
		border-right: 1px solid rgba(255,255,255,.3);
		padding-right: 15px;
		margin-right: 15px;

		&:last-child { border: none; }
	}
}

/**
  * Misc
  *
  */

.wrapper .section-half {
 	@media handheld, screen and (min-width: 992px) {
		@include span(9);
	}

	&.clean {
		margin: 0;
		padding: 0;
	}
}

.bord {
	@media handheld, screen and (min-width: 992px) {
		border-right: 2px solid darken(#f8f8f8, 5%);
	}
}

.tag {
	position: absolute;
	background: $gunmetal;
	padding: 14px 22px 11px;
	z-index: 420;

	> span {
		display: inline-block;
		font-size: .875rem;
		font-family: $title-sans;
		text-transform: uppercase;
		letter-spacing: .04rem;
	}

	> span.title {
		color: #688693;
	}

	> span.count {
		color: $airforce;
		opacity: .4;
		margin-left: 10px;
	}
}