/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

// html {
//  font-size: 16px;
//  font-size: 1rem;
// }

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

body.menu-open {
    overflow: hidden;
}

p {
    letter-spacing: .03rem;
    line-height: 1.6;
    color: $mirage;
    font-family: $title-sans;
    font-weight: 300;
    font-size: .925rem;
    font-size: 0.875rem;

    strong { font-weight: 700; }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
    font-family: $title-sans;
    font-weight: 300;
    color: $mirage;
}

h1.headline {
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 0 0 20px;

    @include at-query($min, $small) {
        padding: 0 50px 50px;
    }
}

h2 {
    letter-spacing: .03rem;
}

h2.subhead {
    text-align: center;
    color: $mirage;
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 0;
}

h3.section {
    font-size: 0.925rem;
    font-weight: 500;
    letter-spacing: .075rem;
    text-transform: uppercase;
    color: $mirage;

    &.-left { margin-bottom: 2rem; }
}

@media handheld, screen and (min-width: 768px) {
    h1.headline {
        font-size: 2.125rem;
        line-height: 1.5;
        padding: 0 0 25px;
    }
    h2.subhead { font-size: 1.2rem; }
}

@media handheld, screen and (min-width: 992px) {
    h1.headline { font-size: 2.125rem; }
    h2.subhead { font-size: 1.2rem; }
}



/**
 * Links
 */
a {
    color: $pelo;
    &:visited { color: $pelo; }
    &:hover { color: $pelo; }
}

a.button, button {
    // margin-top: 2rem;
    background: none;
    display: inline-block;
    padding: 18px 35px 15px;
    border: 2px solid $mirage;
    color: $mirage;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: .075rem;
    font-family: $title-sans;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
        color: $mirage;
        opacity: .5;
    }

    &:active {
        position: relative;
        top: 1px;
    }

    &.light {
        border-color: white;
        color: white;
    }

    &.light:hover {
        opacity: .75;
        text-decoration: none;
    }

    &.-social {
        width: 100%;
        padding: 15px 25px 15px;
        i.ion {
            font-size: 1.15rem;
            position: relative;
            right: 2px;
            top: 2px;
        }
    }
    &.-dribbble { border-color: #C32361; color: #C32361; }
    &.-twitter { border-color: #1DA1F2; color: #1DA1F2; }
    &.-tumblr { border-color: lighten(#36465D, 5%); color: lighten(#36465D, 5%); }
    &.-instagram { border-color: #F78041; color: #F78041; }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 13px;
    border-radius: 3px;
    background-color: #f4f4f4;
    // color: $pelo;
}

code {
    padding: 2px 4px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    color: $gunmetal;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }

    span.c1 {
        color: #bbb !important;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }

    @include at-query($min, $small) {
        &.icon-design, &.icon-art-direction {
            position: relative;
            left: -10px;
        }
    }
}

/**
 *  Navigation, etc.
 */
img.logo {
    position: absolute;
    left: 25px;
    top: 20px;
    width: 120px;
    height: auto;
}

nav#header {
    background: transparent;
    height: 90px;
    width: 100%;
}

#landing > nav#header { background: none; }

ul.nav {
    position: absolute;
    right: 35px;
    top: 33px;
    // list
    list-style-type: none;
    margin: 0; padding: 0;
    li { display: inline; }
    li a {
        font-family: $title-sans;
        font-weight: 300;
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        color: #fff;
        margin: 40px;
        &:last-child { margin-right: 0; }
    }
    li a:hover {
        text-decoration: none;
        color: $airforce;
    }
    // responsive
    display: none;
    @include at-query($min, $medium) {
        display: block;
    }
}