// primarily used in case-title template
.page-title {
	height: 405px;
	position: relative;
	background-color: #2C3438;
	background-size: cover;
	overflow: hidden; // hide screen overflow
	text-align: center;
	color: #fff;

	.overlay {
		@extend .case-overlay;

		&.-spacedojo { background-position: 0% 30%; }
		&.-sos { background-position: 70% 0%; }
		&.-tbb { background-position: 20% 0%; }
		&.-testimonials { background-position: 0% 60%; }

		@media handheld, screen and (min-width: 768px) {
			&.-spacedojo { background-position: 0% 30%; }
			&.-sos { background-position: 0% 30%; }
			&.-tbb { background-position: 50% 50%; }
			&.-testimonials { background-position: 0% 60%; }
		}
	}

	> .screen {
		@include overlay(11,25,31,.78);
		padding: 180px 0 0 0;
		position: absolute;
	}
}

.page-title > .screen > span.properties {
	margin: 0;
}


.case-study {
	float: left;
	width: 100vw;
	height: 510px;
	position: relative;
	margin-right: -.003rem;
	background: #2C3438;
	overflow: hidden;
	display: none;

	h3.headline {
		font-family: $chaparral;
		font-size: 2rem;
		line-height: 1.3;
		color: $fade;
  }

	> .screen {
		padding: 100px 0 0;
		position: absolute;
		@include overlay(11,25,31,.78);
	}

	@media screen and (min-width: 768px) {
		height: 400px;
		h3.headline { font-size: 2.125rem; }
		> .screen { padding: 90px 0 0; }
	}

	@media screen and (min-width: 992px) {
		height: 350px;
		h3.headline { font-size: 2.125rem; }
		> .screen { padding: 90px 0 0; }
	}

	@media screen and (min-width: 1200px) {
		height: 430px;
		h3.headline { font-size: 2.125rem; }
		> .screen { padding: 130px 0 0; }
	}
  
  .case {
  	@extend .case-overlay;

  	@media handheld, screen and (min-width: 768px) {
			&.-spacedojo { background-position: 0% 30%; }
			&.-sos { background-position: 0% 30%; }
			&.-tbb { background-position: 50% 50%; }
			&.-testimonials { background-position: 0% 60%; }
		}
  }
}

.featured-cases {
	position: relative;
	@media handheld, screen and (max-width: 768px) {
		margin-top: 3rem;
	}
}

.arrow-link { 
	@media handheld, screen and (max-width: 768px) {
		visibility: hidden; // hide arrows for mobile phones
	}
}

.arrow {
	position: absolute;
	z-index: 460;
	top: 45%;

	&:hover {
		opacity: .75;
		cursor: pointer;
	}
}

// everything over 768px (tablet screens)
@media handheld, screen and (min-width: 768px) {
	.right-arrow { right: 5px; }
	.left-arrow { left: 5px; }
}

@media handheld, screen and (min-width: 992px) {
	.right-arrow { right: 9px; }
	.left-arrow { left: 9px; }
}

@media handheld, screen and (min-width: 1200px) {
	.right-arrow { right: 12px; }
	.left-arrow { left: 12px; }
}

.case-studies .wrapper,
/* .???? .wrapper */ {
	position: relative;

	.projects {
		top: -25px;
		left: 10px;
	}
}

.case-study .wrapper span,
.page-title span {
	display: inline-block;
	text-transform: uppercase;
	font-family: $title-sans;
	font-size: .875rem;
	color: #fff;
	letter-spacing: .05rem;
}

.case-study span.divider,
.page-title span.divider {
	opacity: 0.13;
	font-family: $title-sans;
	font-size: 18px;
	color: #C9D7DC;
	line-height: 28px;
	margin: 0 15px;
}

@media handheld, screen and (max-width: 768px) {
	.page-title span.divider {
		display: none;
	}

	.page-title span.properties {
		display: block;
	}
}

.case-study .case-info {
	@include span(18);

	@media handheld, screen and (min-width: 768px) {
		@include span(12);
	}
	
	@media handheld, screen and (min-width: 992px) {
		text-align: left;
		@include span(9);
		@include push(1);
		margin-top: .75rem; /* high */
	}

	@media handheld, screen and (min-width: 1200px) {
		@include span(9);
		@include push(0);
	}
}

.case-study .read-more {
	@include span(18);

	@media handheld, screen and (min-width: 768px) {
		text-align: center;
		@include span(6);
	}
	
	@media handheld, screen and (min-width: 992px) {
		text-align: left;
		@include span(7);
	}

	@media handheld, screen and (min-width: 1200px) {
		@include span(9);
		@include push(0);
	}
}

.case-study .case-info,
.case-study .read-more {
	// mobile only
	@media handheld, screen and (max-width: 768px) {
		padding: 0 30px;

		.button { display: block; }
	}
}


.case-study .read-more .button {
	border-color: lighten($airforce, 15%);
	color: lighten($airforce, 15%); 
	margin-top: 1.75rem;

	@media handheld, screen and (min-width: 768px) {
		margin-top: 3.15rem;
	}

	@media handheld, screen and (min-width: 992px) {
		float: right;
	}
}

.case-study span.title {
	font-family: $title-sans;
	color: $airforce;
}

.case-study span.properties, 
.page-title span.properties {
	color: $nebula;
	opacity: .75;
}


.case-section {
	position: relative;
	padding: 60px 40px 0;
	@include clearfix;
	background: $gunmetal;
	margin-bottom: 0;

	@media handheld, screen and (min-width: 768px) {
		padding: 60px;
		margin-bottom: 0;
	}

	@media handheld, screen and (min-width: 992px) {
		padding: 100px 100px 60px;
		top: -45px;
		margin: 0 100px 40px;
	}
}

.case-section > .section-content {		
	text-align: left;		
 	@media handheld, screen and (min-width: 992px) {		
		@include span(9);		
	}		
		
	p {		
		// font-size: 19px;		
		// line-height: 1.4;		
		letter-spacing: .03rem;		
		line-height: 1.6;		
		font-family: $title-sans;		
		font-weight: 300;		
		font-size: .925rem;		
	}		
  		  
	h4.title {		
		font-family: $chaparral;		
		letter-spacing: .015rem;		
		font-size: 2rem;		
		line-height: 1.2;		
    color: $fade;		
    margin-bottom: 20px;		
	}		
}


// ABOUT THE PROJECT
.section-title > ul.about {
	list-style-type: none;
	margin: 0;
	padding: 60px 0 0;
	border-radius: 2px;
	position: relative;
	text-align: left;
	top: -25px;

	li {
		margin-bottom: 30px;
		opacity: .75;
		border-bottom: 2px solid $pelo;
		padding-bottom: 20px;
		font-size: .925rem;
		letter-spacing: .015rem;
		line-height: 1.2;
		font-weight: 300;
		font-family: $title-sans;

		&:last-child { border: none; }
	}

	li span {
		display: block;
		text-transform: uppercase;
		margin-top: 5px;
		line-height: 1;
		letter-spacing: .03rem;
		font-family: $title-sans;
		font-weight: 500;
		font-size: .8rem;
		opacity: 1;
		color: $pelo;
	}

	@media handheld, screen and (min-width: 992px) {
		padding: 35px 50px 20px 30px;
	}
}

.section-full { 
	@include span(18); 
	padding: 0 20px 2rem;

	@media handheld, screen and (min-width: 768px) {
		padding: 0 20% 5rem;
	}
}

.case-section > .section-title {
	@media handheld, screen and (min-width: 992px) {
		@include span(8);
	}

	@media handheld, screen and (min-width: 1200px) {
		@include span(9);
	}
}




// CASE OVERLAY

.case-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-filter: unquote("grayscale(100%)"); 
	background-size: cover;
	background-position: 50% 50%;

	&.-spacedojo { background-image: url('/img/josh-small.jpg'); }
	&.-wizard-school { background-image: url('/img/card-bg-small.jpg'); }
	&.-tbb { background-image: url('/img/couch-small.jpg'); }
	&.-betkong { background-image: url('/img/esports-small.jpg'); }
	&.-woofgang { background-image: url('/img/sonya-small.jpg'); }
	&.-sos { background-image: url('/img/laura-small.jpg'); }
	&.-testimonials { background-image: url('/img/head-small.jpg'); }
}


.case-photo {
	clear: both;
	display: block;
	padding: 0 0 0;

	&:first-child {
		padding-top: 0;
	}

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px) {
		padding: 0 0 0;
	}

	img.photo {
		border-radius: 1px;
		// padding-bottom: 60px;
		width: 100%;
	}

	img.browser {
		box-shadow: 0px 4px 22px rgba(0,0,0,.2);
	}
}

.case-photo > img.photo {
	max-width: 100%;
}

.case-photo > span.caption {
	display: block;
	margin: 0 0 10px 0;
	padding: 0 20px 0;
	opacity: .5;
	font-size: .825rem;
	font-style: oblique;

	@media handheld, screen and (min-width: 768px) {
		padding: 0;
	}
}