.case-title {
	margin-top: 10vh;
	padding-bottom: 0.75rem;

	h1.headline {
		padding-bottom: 0;
		margin-bottom: 0;
		font-weight: 300;
		font-size: 2.125rem;
		font-weight: 300;
		position: relative;
		left: -2px;
		color: $mirage;
	}

	span.services {
		text-transform: uppercase;
		font-family: $title-sans;
		color: $airforce;
		letter-spacing: 0.75px;
		font-size: 0.825rem;
	}
}

.featured-cases { margin-top: 4rem; }
a.case {
	position: relative;
	overflow: hidden;
	display: block;
	cursor: pointer;
	margin-bottom: 2.2rem;

	img {
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
		border-radius: 1px;
		width: 100%;
	}

	div.overlay {
		cursor: pointer;
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
		@include overlay(255,255,255, 0.75);
		text-align: center;
		z-index: 10;
		top: 0;
		opacity: 0;
		padding: 40px;
	}

	span.case-title {
		display: inline-block;
		font-family: $title-sans;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 0.75rem;
		letter-spacing: 1px;
		color: lighten($mirage, 10%);
		background: #fff;
		padding: 16px 23px 14px;
		margin-top: 25%;
		border-radius: 1px;
		text-decoration: none !important;
	}

	span.case-title > span.service {
		opacity: 0.4;
	}

	&:hover {
		text-decoration: none;
		div.overlay { opacity: 1; }
		img {
			transform: scale(1.15,1.15);
			-webkit-transform:scale(1.15,1.15);
			-moz-transform:scale(1.15,1.15);
			-ms-transform:scale(1.15,1.15);
			-o-transform:scale(1.15,1.15);
		}
	}

	@include at-query($min, $medium) {
		span.case-title { margin-top: 30%; }
	}
}

.case-section {
	margin-bottom: 3rem;

	&.-flow {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}

	ul.about {
		list-style-type: none;
		margin: 2rem 0 0; padding: 0;
		color: $mirage;
		font-family: $title-sans;
		font-weight: 300;
		font-size: 0.825rem;
		letter-spacing: 0.3px;
	}

	ul.about li {
		display: inline;
		background: $light;
		border-radius: 2px;
		padding: 8px 12px;
		margin-right: 6px;
		line-height: 3.3;
		white-space: nowrap;
		&:first-child { margin-left: 0; }
	}

	ul.about li span {
		display: block;
	}
}

.case-section .section-content {
	h4.title {
		font-size: 1.375rem;
    	line-height: 1.4;
    	margin-bottom: 1.5rem;
	}

	p strong {
		color: $airforce;
		display: block;
		margin: 1.5rem 0 0;
		font-weight: 500;
	}
}

.case-photos {
	img.photo {
		width: 100%;
		padding: 0;
		margin: 0;
		border: none;
		position: relative;
		top: -1px;
		&:first-child { top: 0; }
		&:last-child { top: -2px; }
	}

	img.shadow {
		box-shadow: 0px 4px 20px rgba(0,0,0,.07);
	}

	.case-link {
		margin: 2.5rem 0 1rem;
		text-align: center; // center the button
		a.button { color: $mirage; }
		a.button:hover { color: $mirage; opacity: .5; }
	}

	&.-separated img.photo {
		margin-bottom: 1.5rem;
		&:last-child { margin-bottom: 0; }
	}
}